.application {
  background-color: @blue-dark-background;
}

.application__availability {
  font-weight: lighter;
  font-size: 14px;
  line-height: 24px;
  color: @white;
}

.application__button-download {
  font-size: 18px;
  line-height: 18px;
  color: @white;
  text-decoration: none;
}

.features__tittle {
  .font__tittle();
}

.features__text {
  .font-text();
}

.features__list {
  padding: 0;
  margin: 0;
}

.features__item {
  list-style: none;
}
