.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav__item {
  list-style: none;
}

.main-nav__item a {
  .font-menu();
  &:hover, &:focus {
    color: @pink;
  }
  &:active {
    color: fade(@pink, 70%);
  }
}
