.main-nav__list {
  .list-style-none()
}

.main-nav__link {
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  color: @white;
  text-decoration: none;
  text-transform: uppercase;
  outline:none;
  &:hover, &:focus {
    color: @pink;
  }
  &:active {
    color: fade(@pink, 70%);
  }
}

.main-nav__list {
  padding: 0 20px;
  text-align: center;
}

.main-nav {
  display: none;
  background-color: @blue-dark-background;
  

}

.main-nav__wrapper {

}


//
// @media (min-width: @tablet-width) {
//   .main-nav {
//     width: auto;
//     margin: 0;
//   }
//   .main-nav__wrapper {
//       width: 660px;
//       margin: 0 auto;
//   }
// }
//
// @media (min-width: @desktop-width) {
//   .main-nav__wrapper {
//       width: 660px;
//       margin: 0 auto;
//   }
// }
