.price {
  background-color: @gray-background;


  display: flex;
flex-direction: column;
margin: 0 auto;
width: 320px;
}



.price__wrapper {
  padding: 0 20px;
}

.price__tittle {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: @white;
  text-decoration: none;
  text-transform: uppercase;
  outline:none;
}

.price__usd {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  color: @white;
  text-decoration: none;
  text-transform: uppercase;
  outline:none;
  font-weight: lighter;


}

.price__options {
  .list-style-none()
}

.price__option-tittle {
  font-size: 14px;
  line-height: 30px;
  color: @blue-dark-font;
  font-style: normal;
  text-transform: uppercase;
}

.price__header {
  background-color: @blue-dark-background;
}

.price__toggles {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .price  {
    width: 660px;
  }
}
