.price {
  background-color: @gray-background;
}

.price__tittle {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: @white;
  text-decoration: none;
  text-transform: uppercase;
  outline:none;
}

.price__usd {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  color: @white;
  text-decoration: none;
  text-transform: uppercase;
  outline:none;
  font-weight: lighter;


}

.price__options {
  .list-style-none()
}

.price__option-tittle {
  font-size: 14px;
  line-height: 30px;
  color: @blue-dark-font;
  font-style: normal;
  text-transform: uppercase;
}

.price__header {
  background-color: @blue-dark-background;
}
